<div class="panel <% if @machines.length > 0 %>panel-info<% else %>panel-warning<% end %>">
  <div class="panel-heading">Applied Filter <strong><%= @filter.name %></strong> (Priority <%= @filter.precedence %>)</div>
  <div class="panel-body">
    <% if @machines.length > 0 %>
      <table class="table table-striped table-bordered">
        <tr>
          <th>Hostname</th>
          <th>Flavor</th>
          <th>Memory Used</th>
          <th>Fragments</th>
          <th>Tags</th>
        </tr>
      <% @machines.each do |machine| %>
      <tr>
         <td><%= machine.name %></td>
         <td><%= machine.flavor[0] %></td>
         <td>
           <div class="progress" style="width: 200px">
             <div class="progress-bar" role="progressbar" aria-valuenow="<%= machine.memory_used_percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= machine.memory_used_percent %>%;">
               <%= machine.memory_used %>MB &#47; <%= machine.memory %>MB
             </div>
           </div>
         </td>
         <td>
             <ul>
           <% machine.fragments.map(&:name).each do |name| %>
             <li><%= name %></li>
           <% end %>
             </ul>
         </td>
         <td>
           <% machine.tags.each do |tag| %>
             <span class="label <% if @fragment.group_with_tags.include?(tag) %>label-success<% elsif @fragment.avoid_tags.include?(tag) %>label-danger<% else %>label-info<% end %>"><%= tag %></span>
             <% end %>
         </td>
      </tr>
      <% end %>
    </table>
    <% else %>
    <div style="text-align:center;font-size: 24px;">No Suitable Machines</div>
    <% end %>
  </div>
</div>
<div style="text-align:center;font-size: 48px;">&#11015;</div>
